@font-face {
    font-family: 'CookieRunBold';
    src: url(./font/CookieRunFont_TTF/CookieRun\ Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'CookieRunRegular';
    src: url(./font/CookieRunFont_TTF/CookieRun\ Regular.ttf) format('truetype');
}

body {
    background-color: orange;
    margin: 0px;
}

h1 {
    font-family: CookieRunBold;
    text-align: center;
    color: white;
}

h2 {
    font-family: CookieRunBold;
    text-align: center;
    color: white;
}

h4 {
    font-family: CookieRunRegular;
    text-align: center;
    color: white;
}

p {
    font-family: CookieRunRegular;
    text-align: center;
    color: black;
}

img {
    vertical-align: middle;
}

#icon {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

table {
    font-family: CookieRunRegular;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: peru;
}

input[type = text] {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: CookieRunRegular;
    color: black;
    text-align: right;
    width: 10%;
}


select {
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-family: CookieRunRegular;
    color: black;
}

ul {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: CookieRunRegular;
    color: black;
}

.menu {
    background-color: peru;
}

.menu input {
    font-family: CookieRunRegular;
    text-align: center;
    font-size: large;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu input:hover {
    background-color: sienna;
}

.body {
    text-align: center;
}

.button {
    background-color: peru;
    font-family: CookieRunRegular;
    text-align: center;
    font-size: large;
    color: white;
    border: none;
    outline: none;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#output {
    font-family: CookieRunRegular;
    text-align: center;
    font-size: large;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.level {
    border-right: 3px solid goldenrod;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: CookieRunRegular;
    color: black;
    text-align: right;
    width: 10%;
}

input[type="number"].quantity {
    width: 70%;
}