@font-face {
  font-family: 'CookieRunBold';
  src: url(./font/CookieRunFont_TTF/CookieRun\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'CookieRunRegular';
  src: url(./font/CookieRunFont_TTF/CookieRun\ Regular.ttf) format('truetype');
}

.MainTitle{
  font-family: CookieRunBold;
  font-size: 45px;
  text-align: center;
  color: white;
}

.MainPageTitle{
  font-family: CookieRunBold;
  font-size: 40px;
  text-align: center;
  color: white;
}

.MainPageDescription{
  font-family: CookieRunRegular;
  font-size: 30px;
  text-align: center;
  color: black;
}

.menu {
  background-color: peru;
}

.menu input {
  font-family: CookieRunRegular;
  text-align: center;
  font-size: large;
  color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: orange;
  margin: 0px;
}

p {
  font-family: CookieRunRegular;
  text-align: center;
  color: black;
}

h2 {
  font-family: CookieRunBold;
  font-size: 30px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}