@font-face {
  font-family: 'CookieRunBold';
  src: url(../public/font/CookieRunFont_TTF/CookieRun\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'CookieRunRegular';
  src: url(../public/font/CookieRunFont_TTF/CookieRun\ Regular.ttf) format('truetype');
}

body {
  background-color: orange;
  margin: 0px;
}