@font-face {
  font-family: 'CookieRunBold';
  src: url(../public/font/CookieRunFont_TTF/CookieRun\ Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'CookieRunRegular';
  src: url(../public/font/CookieRunFont_TTF/CookieRun\ Regular.ttf) format('truetype');
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../eurel.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0px;
}