@font-face {
    font-family: 'MaplestoryBold';
    src: url(./font/MaplestoryFont_TTF/Maplestory\ Bold.ttf) format('truetype');
}

h1 {
    font-family: MaplestoryBold;
    text-align: center;
    color: white;
}